---
---
@import "fonts.css";

@mixin centered-block($width) {
	width: $width;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: #817c6b;

	font-family: verdana;
	font-size: 1rem;
	line-height: 1.62;
/*
	&:not(.home) {
		.navigation:after {
			@include centered-block(15rem);
			display: block;
			content: " ";
			// background-blend-mode: color;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url(/images/bottom.png);
			height: 1.4rem;
		}
	}
*/
}

.content {
	text-align: center;
}

a {
	color: inherit;
}

.navigation {
	font-family: 'amaticbold';
	font-size: 1.2rem;

	a[data-nav-current=true] {
		text-decoration: none;
	}

	ul {
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		justify-content: space-around;
		-webkit-justify-content: space-around;

		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;

			font-weight: bold;
		}
	}
}

.title {
	h1 {
		font-family: 'amatic_scregular';
		font-size: 3.2rem;
	}
	h1:before, h1:after {
		@include centered-block(3em);

		display: block;
		content: " ";
		background-repeat: no-repeat;
		background-size: contain;

		height: .6em;

		top: 10px;
	}
	h1:before {
		background-image: url('/images/left-arrow.png');
	}
	h1:after {
		background-image: url('/images/right-arrow.png');
	}
}

.announce {
	font-family: 'great_vibesregular';
	div.names {
		font-size: 2.4rem;
	}
	div {
		font-size: 1.8rem;
	}
}

.dates {
	font-family: 'reswysokrregular';
}

.location {
	font-family: 'reswysokrregular';
}


@media all and (max-width: 420px) {
	.navigation {
		ul {
			li {

			}
		}
	}
}

@media all and (min-width: 421px) {
	$content-width: 40rem;
	$content-padding: .25rem;
	$content-background-color: rgba(0, 0, 0, .7);

	body {
		background-image: url(/images/forest.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;

		color: #FFF;
	}

	.navigation {
		@include centered-block($content-width);

		padding: $content-padding;

		background-color: $content-background-color;

		height: 1.5em;

		border-width: .2rem .2rem 0 .2rem;
		border-style: solid;
		border-color: rgba(0, 0, 0, .5);

		border-radius: 4px 4px 0 0;
		border-collapse: collapse;

		text-align: center;

		ul {
			height: 1rem;
		}
	}

	.content {
		@include centered-block($content-width);

		padding: $content-padding;

		background-color: $content-background-color;

		border-width: 0 .2rem .2rem .2rem;
		border-style: solid;
		border-color: rgba(0, 0, 0, .5);

		border-radius: 0 0 4px 4px;
		border-collapse: collapse;
	}	
}