---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sam and Amber's Wedding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% if site.show_drafts %}
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    {% endif %}
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="navigation">
      <ul>
        {% assign nav_pages = site.pages | sort: 'nav_position' %}
        {% for page in nav_pages %}
          {% if page.nav_position %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
